.common-process-section {
    display: block;

    .process-head {
        .main-title {
            max-width: 800px;
        }
    }

    .process-div {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .img-div {
            width: 40%;
            height: 600px;
            // position: sticky;
            // top: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .process-list {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .process-item {
                border-bottom: 1px solid #e0e0e0;
                padding: 1rem 0;
                cursor: pointer;

                .process-title-div {
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
                    align-items: center;
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    .process-title {
                        font-size: 30px;
                        font-weight: 500;
                        transition: transform 0.3s ease, color 0.3s ease;
                    }

                    .icon {
                        margin-right: 30px;
                    }

                    &:hover .process-title {
                        transform: translateX(5px);
                        color: #259FBA;
                    }
                }

                .process-description p {
                    margin-top: 0.8rem;
                    color: #444;
                    line-height: 1.6;
                    animation: fadeIn 0.5s ease-in-out;
                }

                // .process-description {
                //     max-height: 0;
                //     overflow: hidden;
                //     opacity: 0;
                //     transition: max-height 0.5s ease, opacity 0.5s ease;
                // }

                // &.active {
                //     .process-description {
                //         max-height: 500px;
                //         opacity: 1;
                //     }
                // }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 1100px) {
    .common-process-section.section-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1000px) {
    .common-process-section {
        .process-div {
            flex-direction: column;

            .img-div {
                width: 100%;
                padding-left: 100px;
                padding-right: 100px;
            }

            .process-list {
                width: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .common-process-section {
        .process-div {
            .img-div {
                height: 400px;
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}

@media (max-width: 600px) {
    .common-process-section.section-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .common-process-section {
        .process-head {
            text-align: center;
        }
        
        .process-div {
            .process-list {
                .process-item {
                    .process-title-div {
                        .process-title {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}