.clients-section{
    display: block;
    background: #259FBA;
    color: white;
    position: relative;
    overflow: hidden;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; /* Adjusts video height to the viewport */
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .head-div {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-between;
        z-index: 2;
        pointer-events: all;

        .main-title {
            z-index: 2 !important;
        }

        .sub-title {
            font-size: 30px;
            z-index: 2 !important;
        }
    }

    .clients-grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
        z-index: 3;

        .client-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            overflow: hidden;
            width: 100%;
            height: 80px; // set a fixed height to allow room for animation
            cursor: pointer;
            transition: all 0.7s ease;

            .image {
                width: 70px;
                display: block;
                transition: all 0.7s ease;
                transform: translateY(0) scale(1);
            }

            .description {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 10px 20px;
                color: white;
                font-size: 12px;
                text-align: center;
                transition: all 0.7s ease;
                opacity: 0;
            }

            &:hover {
                .image {
                    transform: translateY(-10px) scale(0.7); // move up and scale down
                }

            .description {
                top: calc(40px); // position just below the scaled image
                opacity: 1;
                }
            }
        }

        // .client-card:nth-last-child(-n+2) {
        //     display: none;
        // }
    }
}

@media (max-width: 1400px) {
    .clients-section {
        .clients-grid {
            gap: 30px;
        }
    }
}

@media (max-width: 1250px) {
    .clients-section {
        .clients-grid {
            grid-template-columns: repeat(4, 1fr);

        }
    }
}

@media (max-width: 980px) {
    .clients-section {
        .head-div {
            .main-title {
                font-size: 30px;
            }

            .sub-title {
                font-size: 25px;
            }
        }

        .clients-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 650px) {
    .clients-section {
        .clients-grid {
            gap: 10px;
        }
    }
}

@media (max-width: 550px) {
    .clients-section {
        .head-div {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;

            .main-title {
                font-size: 28px;
            }

            .sub-title {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 500px) {
    .clients-section {
        .clients-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}