.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.app-content {
  width: 70%;
  overflow-y: auto;
  // height: 100vh;
  position: relative;
  // z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content.full {
  width: 100%;
}

.app-main {
  flex: 1 0 auto;
}

.app-popup {
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  background: white;
  overflow-y: auto;
  z-index: 2;
}

// Mobile responsive styles
@media (max-width: 1000px) {
  .app-container {
    flex-direction: column;
  }
  
  .app-content {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
  
  .app-popup {
    width: 100%;
    position: relative;
    height: auto;
    z-index: 1;
  }
}