@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// color code

// hexa: #B6735D


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: white;
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

section{
  // height: 100%;
  scroll-snap-align: center;
}

button, input, select {
  font-family: "Outfit", sans-serif;
}

button {
  font-weight: 600;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: .5s;
  color: inherit;
}

a:hover {
  transition: .5s;
}
.underline {
  text-decoration: underline;

  &:hover {
      color: #B6735D;
  }
}

.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 600;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: .5s;
  cursor: pointer;
  border-radius: 30px;

  svg {
    font-size: 20px !important;
  }

  &:hover {
    transition: .5s;
  }
}

.btn2 {
  border-radius: 10px;
}

.btn-white {
  color: white;
  background: transparent;
  border: 2px solid white;

  &:hover {
    background: white;
    color: black;
    border: 2px solid white
  }
}

.btn-black {
  color: black;
  background: transparent;
  border: 2px solid black;

  &:hover {
    background: black;
    color: white;
    border: 2px solid black
  }
}

.btn-primary {
  color: #B6735D;
  background: transparent;
  border: 2px solid #B6735D;

  &:hover {
    background: #B6735D;
    color: white;
    border: 2px solid #B6735D
  }
}

.btn-white-fill {
  color: #B6735D;
  background: white;
  border: 2px solid white;

  &:hover {
    background: transparent;
    color: white;
    transition: .5s;
  }
}

.btn-black-fill {
  color: white;
  background: black;
  border: 2px solid black;

  &:hover {
    background: transparent;
    color: black;
    transition: .5s;
  }
}

.btn-primary-fill {
  color: white;
  background: #B6735D;
  border: 2px solid #B6735D;

  &:hover {
    background: transparent;
    color: #B6735D;
    transition: .5s;
  }
}

.color {
  color: #B6735D;
}

.black {
  color: black;
}

.main-title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}

.main-description {
  margin-top: 20px;
  max-width: 700px;
}

.section-container {
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 0px;
}

.dashboard-head {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

// .custom-toast {
//   z-index: 1000000; /* ensure it stays on top */
// }

@media(max-width: 2000px) {
  .section-container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1600px;
    padding-left: 40px;
    padding-right: 40px;
  } 
}

@media(max-width: 1800px) {
  .section-container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1600px;
    padding-left: 35px;
    padding-right: 35px;
  } 
}

@media(max-width: 1600px) {
  .section-container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
  } 
}

@media(max-width: 900px) {
  .section-container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1600px;
    padding-left: 25px;
    padding-right: 25px;
  } 
}

@media(max-width: 600px) {
  .section-container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
  } 
}

@media(max-width: 1200px) {
  .main-title {
    font-size: 35px;
  }
}

@media(max-width: 768px) {
  .main-title {
    font-size: 30px;
  }

  .btn-white, .btn-black, .btn-primary {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
  }
}